{% load static %}
<!DOCTYPE html>
<!-- base template without header and footer -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- main CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <title>Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons integration form fontawesome -->
    <script src="https://kit.fontawesome.com/2cebd49df2.js" crossorigin="anonymous"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>