{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- note list view template -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Browse Notes</h1>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Sort By:</div>
                    <a class="dropdown-item" href="/">Most Liked</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/?sort=date">New</a>
                </div>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Total notes Card -->
            <div class="col mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total notes:
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_notes }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total public notes Card -->
            <div class="col mb-3">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Public notes:
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pub }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-share-alt-square fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total users Card -->
            <div class="col mb-3">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Users:
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ total_users }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users  fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if object_list %}
            <div class="row">
                <div class="col-lg-6">
                    {# Even list rendering #}
                    {% for note in object_list_even %}
                        <!-- Note Card with Dropdown -->
                        <div class="card shadow mb-4" id="card-{{ note.pk }}">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <a href="{{ note.get_absolute_url }}" style="text-decoration: inherit; color: inherit">
                                    <h2 class="m-0 font-weight-bold text-primary">{{ note.name }}</h2>
                                </a>
                                {% if note.user == user|slugify %}
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item"
                                               href="{{ note.get_absolute_url }}/edit">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <form action="{{ note.get_absolute_url }}/delete" method="post">
                                                {% csrf_token %}
                                                <input class="dropdown-item" type="submit" value="Delete"/>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                {{ note.body|truncatechars_html:1200|safe }}
                            </div>
                            <div class="card-header py-3 d-flex justify-content-between">
                                <div class="d-flex" id="like-count-{{ note.pk }}">
                                    <div id="like-{{ note.pk }}" class="like-btn btn btn-primary btn-circle
                            {% if not user.is_authenticated %}
                                disabled
                            {% endif %}">
                                        {% if note.current_user_liked %}
                                            <i class="fas fa-heart"></i>
                                        {% else %}
                                            <i class="far fa-heart"></i>
                                        {% endif %}
                                    </div>
                                    <p class="text-secondary mb-auto mt-auto ml-2"
                                       id="card-liked-{{ note.pk }}"> {{ note.count_likes }}</p>
                                </div>
                                <p class="mt-auto mb-auto font-weight-bold text-primary"> {{ note.user }} </p>
                            </div>

                            <!-- Like button -->
                            {% if user.is_authenticated %}
                                <script type="text/javascript">
                                    $(document).ready(function (event) {
                                        $(document).on("click", "#like-{{ note.pk }}", function (event) {
                                            event.preventDefault();
                                            let post_id = $(this).attr("value");
                                            $.ajax({
                                                type: "POST",
                                                url: "{{ note.get_absolute_url }}/like",
                                                data: {"id": post_id, "csrfmiddlewaretoken": "{{csrf_token}}"},
                                                success: function (data) {
                                                    $("#like-count-{{ note.pk }}").load(location.href + " #like-count-{{ note.pk }}");
                                                }
                                            });
                                        });
                                    });
                                </script>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    {% for note in object_list_odd %}
                        <!-- Note Card with Dropdown -->
                        <div class="card shadow mb-4" id="card-{{ note.pk }}">
                            <!-- Card Header - Dropdown -->
                            <a href="{{ note.get_absolute_url }}" style="text-decoration: inherit; color: inherit">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h2 class="m-0 font-weight-bold text-primary">{{ note.name }}</h2>
                            </a>
                            {% if note.user == user|slugify %}
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item"
                                           href="{{ note.get_absolute_url }}/edit">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <form action="{{ note.get_absolute_url }}/delete" method="post">
                                            {% csrf_token %}
                                            <input class="dropdown-item" type="submit" value="Delete"/>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            {{ note.body|truncatechars_html:1200|safe }}
                        </div>
                        <div class="card-header py-3 d-flex justify-content-between">
                            <div class="d-flex" id="like-count-{{ note.pk }}">
                                <div id="like-{{ note.pk }}" class="like-btn btn btn-primary btn-circle
                            {% if not user.is_authenticated %}
                                disabled
                            {% endif %}">
                                    {% if note.current_user_liked %}
                                        <i class="fas fa-heart"></i>
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}
                                </div>
                                <p class="text-secondary mb-auto mt-auto ml-2"
                                   id="card-liked-{{ note.pk }}"> {{ note.count_likes }}</p>
                            </div>
                            <p class="mt-auto mb-auto font-weight-bold text-primary"> {{ note.user }} </p>
                        </div>

                        <!-- Like button -->
                        {% if user.is_authenticated %}
                            <script type="text/javascript">
                                $(document).ready(function (event) {
                                    $(document).on("click", "#like-{{ note.pk }}", function (event) {
                                        event.preventDefault();
                                        let post_id = $(this).attr("value");
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ note.get_absolute_url }}/like",
                                            data: {"id": post_id, "csrfmiddlewaretoken": "{{csrf_token}}"},
                                            success: function (data) {
                                                $("#like-count-{{ note.pk }}").load(location.href + " #like-count-{{ note.pk }}");
                                            }
                                        });
                                    });
                                });
                            </script>
                        {% endif %}
                        </div>

                    {% endfor %}
            </div>
            </div>
        {% else %}
            <!-- No card rendering view -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Empty...</h3>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 35rem;"
                             src="{% static 'img/no_notes.png' %}" alt="no notes">
                    </div>
                    <h5>Seems like no notes were shared by this point</h5>
                    <a href="/notes/create"><h5>Create a new Note</h5></a>
                </div>
            </div>
        {% endif %}

    <!-- Pagination -->
    <nav class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        &laquo;&laquo;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ page_url }}">
                        &laquo;
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <p class="page-link"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ page_url }}">&raquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}{{ page_url }}">&raquo;&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>


{% endblock %}
